h5py
numpy
pandas
scipy
scikit-image
torch
torchvision
tqdm
matplotlib
xformers
diffusers
transformers
open_clip_torch
accelerate
clip-anytorch
einops
huggingface_hub
kornia
omegaconf
packaging
pytorch-lightning
safetensors
timm
torch-geometric
webdataset
